/* Navbar.css */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddf3fc;
    width: 90%;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 10px;
    position: sticky !important;
    z-index: 99;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar-container ul {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.navbar-container ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    margin: 0px 10px;
    color: rgb(4, 99, 250);
}

.navbar-container ul li a {
    text-decoration: none;
    color: black;
}

.navbar-container i {
    font-size: 20px;
    cursor: pointer;
}

.navbar-container i span {
    color: red;
}

.navIcon {
    width: 30px;
    margin-right: 10px;
    font-size: 20px !important;
    background-color: black;
    color: black;
    outline: none;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

/* Sidebar styles */

.sidebar {
    display: none;
}

.sidebar.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    background-color: #ddf3fc;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    z-index: 98;
}

@media all and (max-width:720px) {
    .navbar-container ul li{
        font-size: 16px;
    }
}
@media all and (max-width: 640px) {
    .navbar-container{
        width: 93%;
    }
    .navbar-container i {
        font-size: 20px;
        align-content: flex-start;
    }
    .navIcon{
        display: block;
    }
    .navbar-container ul {
        display: none;
    }
    .navbar-container ul li{
        padding: 10px 0;
    }
    .navbar-container ul.visible {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        left: 0;
        background-color: #ddf3fc;
        left: auto;
        right: 0;
        width: 20%;
        height: 100vh;
        padding: 10px;
        border-radius: 10px;
    }
}
@media all and (max-width:530px) {
    .navIcon{
        width: 25px;
    }
    .navbar-container{
        width: 90%;
    }
}
@media all and (max-width: 420px) {
    .navbar-container{
        width: 88%;
    }
    .navbar-container i {
        font-size: 20px;
        align-content: flex-start;
    }
    .navIcon{
        display: block;  
    }
    .navbar-container ul {
        display: none;
    }
    .navbar-container ul li{
        padding: 10px 0;
    }
    .navbar-container ul.visible {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 56px;
        left: 0;
        background-color: #ddf3fc;
        left: auto;
        right: 0;
        width: 30%;
        padding: 10px;
        border-radius: 10px;
    }
    .navIcon{
        width: 20px;
    }
}

.navbar-container ul li:hover {
    text-decoration: underline;
    transform: scale(1.06);
    transition: 0.6s;
}
